.shadow-y{
    box-shadow: 2px 2px 10px #e9ec08;
}

.shadow-b{
    box-shadow: 2px 2px 10px #3b59ff;
}

.shadow-o{
    box-shadow: 2px 2px 10px #fa7900;
}

.shadow-a{
    box-shadow: 2px 2px 10px #c5a100;
}